
{{link:Model.Link:list__item list__item--pad5 container container--bg-white}}
    
    <div class="card card--{{data:Model.CssName}}"></div>
    
    <div class="text text--gray4 text--bold text--size13">{{data:Model.LocationName}}</div>
    <div class="text text--navy text--bold">{{data:Model.Label}}</div>

{{link-end}}