
<div class="icon icon--{{data:Model.IconClass}} icon--40x40 subheader__icon"></div>

{{link:Model.Link:subheader__current}}
    <div class="subheader__temp">{{data:Model.Temperature}}</div>
    <time class="subheader__time">{{data:Model.Date}}</time>
{{link-end}}
