
<div class="index">
    <div class="index__category">{{data:Model.IndexCategory}}</div> 
    <div class="index__title">{{data:Model.IndexText}}</div>

    <div class="index__graph">
        <b class="index__value index__value--gr{{data:Model.IndexValue}}">{{data:Model.IndexValue}}</b>
    </div>
</div>

