

{{link:Model.LocationLink}}
	<div class="group">
		<div class="group__item group__item--no-border group__item--three">
			<div class="text text--blue text--uppercase text--bold text--dynamic-size">{{data:Model.LocationMainLabel}}</div>
			<div class="text text--gray4 text--uppercase .text--dynamic-size">{{data:Model.LocationSubLabel}}</div>
		</div>
		
		<div class="group__item group__item--no-border group__item--width60 container--bg-white">
			<div class="icon icon--{{data:Model.IconClass}} icon--40x40"></div>
		</div>

		<div class="group__item container--bg-white">
			<div class="text text--navy text--roboto text--light text--h1">{{data:Model.Temperature}}</div>
		</div>
	</div>
{{link-end}}